{% extends 'elements/base2.html' %}
{% block meta %}
<meta property="og:title" content="Student Wellness" />
<meta property="og:description" content="Sehat dan sukses" />
<meta property="og:image" content="{{ url_for('static', filename='LOGO.PNG') }}" />
{% endblock %
{% block title %}{{user_info.username}} - articles{% endblock %}

{% block js %}
<script type="text/javascript" src="{{url_for('static',filename='scripts/dokter/article.js')}}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		get_post()
	});
</script>
{% endblock %}

{% block header %}
<!-- header -->
{% endblock %}

{% block content %}
<!-- content -->

<section class="section">
	<article class="media">
		<figure class="media-left" style="align-self: center;">
			<a class="image is-32x32" href="/user/{{user_info.username}}">
				<img class="is-rounded" src="{{url_for('static', filename='LOGO.png')}}" />
			</a>
		</figure>
		<div class="media-content">
			<div class="field">
				<p class="control">
					<input
					id="input-post"
					class="input is-rounded"
					placeholder="What are you thingking about?"
					onclick="$('#modal-post').addClass('is-active')"
					/>

					<div class="modal" id="modal-post">
						<div class="modal-background" onclick="$('#modal-post').removeClass('is-active')">
						</div>
						<div class="modal-content">
							<div class="box">
								<article class="media">
									<div class="media-content">

										<div class="field">

											<p class="control">
												<input id="input-judul" class="input" type="text" placeholder="Judul Artikel">
											</p>
											<p class="control">
												<input id="input-subtitle" class="input" type="text" placeholder="subtitle">
											</p>

											<p class="control">
												<label class="file-label" style="width: 100%">
													<input
													id="input-pic"
													class="file-input"
													type="file"
													name="resume"
													/>
													<span class="file-cta"
													><span class="file-icon"
													><i class="fa fa-upload"></i
													></span>
													<span class="file-label">Select a file</span>
												</span>
												<span
												id="file-name"
												class="file-name"
												style="width: 100%; max-width: 100%"
												>{{ user_info.profile_pic }}</span
												>
											</label>
										</p>

										<p class="control">
											<textarea
											id="textarea-post"
											class="textarea"
											placeholder="Konten"
											></textarea>
										</p>
									</div>
									<nav class="level is-mobile">
										<div class="level-left">
										</div>
										<div class="level-right">
											<div class="level-item">
												<a class="button is-info" onclick="post()">
													Create post
												</a>
											</div>
											<div class="level-item">
												<a class="button is-sparta is-outlined" onclick="$('#modal-post').removeClass('is-active')">
													Cancel
												</a>
											</div>
										</div>
									</nav>
								</div>
							</article>
						</div>
					</div>
					<button class="modal-close is-large" aria-label="close" onclick="$('#modal-post').removeClass('is-active')"></button>
				</div>
			</p>
		</div>
	</div>
</article>
</section>

<section class="section" id="content-1">
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Post at</th>
				<th scope="col">last edited at</th>
				<th scope="col">Picture</th>
				<th scope="col" style="">Judul</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody id="article-list">

		</tbody>
	</table>
	
</section>

{% endblock %}