<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}
  {% endblock %}
  <title>{% block title %}{% endblock %} - Student Wellness</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='LOGO.ico')}}" type="image/x-icon" />
  <link rel="icon" href="{{url_for('static', filename='fLOGO.ico')}}" type="image/x-icon" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js" integrity="sha512-zMfrMAZYAlNClPKjN+JMuslK/B6sPM09BGvrWlW+cymmPmsUT1xJF3P4kxI3lOh9zypakSgWaTpY6vDJY/3Dig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>  

  <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/auth/login.js')}}"></script>
  
  {% block js %}
  {% endblock %}
</head>
<body class="has-navbar-fixed-top">
  {%include 'elements/header.html'%}
  <header>
    {% block header %}
    {% endblock %}
  </header>

  {% block content %}{% endblock %}

  {%include 'elements/footer.html'%}
</body>
</html>