<section class="section">
  <div class="container">
    <h1 class="title">
      Sehat dan Sukses
    </h1>
    <p class="subtitle">
      Konseling, dan update informasi seputar masalah kesehatan mahasiswa
    </p>

    <div class="columns">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img class="" src="https://www.dfunstation.com/gambar/blog/blog-mengapa-konseling-sangat-penting-187-l.jpg" alt="Konseling">
            </figure>

          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p class="title is-6">Konseling</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    </div>

  </div>
</section>