  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a href="/v2">Home</a></li>
      {%if user_info.role == "pasien"%}
      <li><a href="/v2/activity">Activity History</a></li>
    </ul>
    {%else%}
    <p class="menu-label">
      Order
    </p>
    <ul class="menu-list">
      <li>
        <a class="">To Do</a>
        <ul>
          <li><a href="">Konseling</a></li>
          <li><a>Konsultasi karir</a></li>
          <li><a href="/v2/{{user_info.username}}/articles">Articles</a></li>

        </ul>
      </li>
      
    </ul>
    {%endif%}
    <p class="menu-label">
      {{user_info.username}}
    </p>
    <ul class="menu-list">
      <li><a href="/signin">Logout</a></li>
    </ul>
  </aside>
