  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a href="/v2">Home</a></li>
      {%if user_info.role == "pasien"%}
      <li><a href="/v2/activity">Activity History</a></li>
    </ul>
    {%else%}
    <p class="menu-label">
      Order
    </p>
    <ul class="menu-list">
      <li>
        <a class="">To Do</a>
        <ul>
          <li><a href="/v2/{{user_info.username}}/konseling">Konseling</a></li>
          <li><a>Konsultasi karir -&nbsp; <small class="is-warning">ongoing</small></a></li>
          <li><a href="/v2/articles">Articles</a></li>

        </ul>
      </li>
      
    </ul>
    {%endif%}
    
  </aside>
