{% extends 'elements/base.html' %}
{% block title %}About Us{% endblock %}

{% block header %}
<!-- header -->
{% endblock %}

{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <div class="container">
    <ul>
      <li><a href="/">Student Wellness</a></li>
      <li><a href="/">Home</a></li>
      <li class="is-active"><a href="/" aria-current="page">Articles</a></li>
    </ul>

  </div>
</nav>


<section class="section">
  <div class="container">
    <div class="block has-text-centered">
      <h1 class="title">About Us</h1>
    </div>

    <div class="block">
        &emsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <h2 class="subtitle">
      </h2>

    </div>
  </div>
</section>
{% endblock %}