{% extends 'elements/base.html' %}
{% block title %}About Us{% endblock %}

{% block header %}
<!-- header -->
{% endblock %}

{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <div class="container">
    <ul>
      <li><a href="/">Student Wellness</a></li>
      <li><a href="/">Home</a></li>
      <li class="is-active"><a href="/" aria-current="page">Articles</a></li>
    </ul>

  </div>
</nav>


<section class="section">
  <div class="container">
    <div class="block has-text-centered">
      <h1 class="title">About Us</h1>
    </div>

    <div class="block">
      <div class="block">
        <strong>Latar Belakang Project</strong>
        <p >Mahasiswa sering menghadapi tekanan akademis yang
          tinggi,
          jadwal yang padat, dan kadang-kadang terbatasnya
          akses
          terhadap sumber daya kesehatan. Dalam beberapa
          kasus,
          aspek kesehatan mental dan fisik sering
        terabaikan.</p>
      </div>
      <div class="block">
        <div class="block has-text-centered">
          <strong class="is-title">Tim Pengembang</strong>
        </div>

        <div class="columns">
          <div class="column">

            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img class="is-" src="../static/pic/profile/Adit.jpg" class="img-fluid" alt="Foto 1">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">

                  <div class="media-content">
                    <p class="title is-4">Aditiya Nofril Saputra</p>
                    <p class="subtitle is-6">@adit915</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris.
                  <br>
                </div>
              </div>
            </div>

          </div>
          <div class="column">

            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img class="is-" src="../static/pic/profile/Ronald.png" class="img-fluid" alt="Foto 1">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">

                  <div class="media-content">
                    <p class="title is-4">Ronald Purba</p>
                    <p class="subtitle is-6">@johnsmith</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris.
                  <br>
                </div>
              </div>
            </div>

          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                <img src="https://placekitten.com/100/102" class="img-fluid" alt="Foto 3">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">

                  <div class="media-content">
                    <p class="title is-4">Habib Muzammil</p>
                    <p class="subtitle is-6">@johnsmith</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris.
                  <br>
                </div>
              </div>
            </div>
          </div>

        </div>
        
    </div>
  </section>
  {% endblock %}