{% extends 'elements/base.html' %}
{% block title %}
Informasi dan Artikel Seputar Kesehatan Mahasiswa
{% endblock %}

{% block header %}
<!-- header -->
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="level-item">
      <input class="input" type="text" placeholder="Cari artikel berdasarkan judul, kategori, topik">
      <button class="button is-link">
        <span class="icon">
          <i class="fas fa-search"></i>
        </span>
        Cari
      </button>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Topik Terkini</h1>
    <span class="tag">
      Social Anxiety
    </span>
    <span class="tag">
      Batuk
    </span>
    <span class="tag">
      Remaja
    </span>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Artikel Populer</h1>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">

        <div class="tile is-parent">
          <article class="tile is-child ">
            <figure class="image is-5by3">
              <img src="https://asset.kompas.com/crops/GYJ2h0AeeAkPgluuTSCtTEOAU3c=/0x0:1000x667/230x153/data/photo/2023/12/13/6578fe7df243b.jpg">
            </figure>
            <figcaption>
              <Strong class="title">Prabowo: Tapol-tapol yang Katanya Saya Culik, Sekarang Membela Saya</Strong>
            </figcaption>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child">

          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="https://asset.kompas.com/crops/GYJ2h0AeeAkPgluuTSCtTEOAU3c=/0x0:1000x667/230x153/data/photo/2023/12/13/6578fe7df243b.jpg" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Prabowo: Tapol-tapol yang Katanya Saya Culik, Sekarang Membela Saya</strong>
                  </p>
                </div>
                <span class="tag">
                  Politik
                </span> 
                &nbsp
                <small>5 menit</small>
              </div>
            </article>
          </div>

          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="https://asset.kompas.com/crops/GYJ2h0AeeAkPgluuTSCtTEOAU3c=/0x0:1000x667/230x153/data/photo/2023/12/13/6578fe7df243b.jpg" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Prabowo: Tapol-tapol yang Katanya Saya Culik, Sekarang Membela Saya</strong>
                  </p>
                </div>
                <span class="tag">
                  Politik
                </span> 
                &nbsp
                <small>5 menit</small>
              </div>
            </article>
          </div>

          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="https://asset.kompas.com/crops/GYJ2h0AeeAkPgluuTSCtTEOAU3c=/0x0:1000x667/230x153/data/photo/2023/12/13/6578fe7df243b.jpg" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Prabowo: Tapol-tapol yang Katanya Saya Culik, Sekarang Membela Saya</strong>
                  </p>
                </div>
                <span class="tag">
                  Politik
                </span> 
                &nbsp
                <small>5 menit</small>
              </div>
            </article>
          </div>

        </article>
      </div>
    </div>

  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Artikel Terbaru</h1>

    <div class="columns is-multiline is-mobile">

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">


            <div class="content">
              <h1 class="title">Berita baru</h1>

              <div class="block">
                <span class="tag">Politik</span>
                <span class="tag">otomotif</span>
              </div>
              <p>

                <small>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#css</a> <a href="#">#responsive</a>
                </small>
              </p>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">


            <div class="content">
              <h1 class="title">Berita baru</h1>

              <div class="block">
                <span class="tag">Politik</span>
                <span class="tag">otomotif</span>
              </div>
              <p>

                <small>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#css</a> <a href="#">#responsive</a>
                </small>
              </p>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">


            <div class="content">
              <h1 class="title">Berita baru</h1>

              <div class="block">
                <span class="tag">Politik</span>
                <span class="tag">otomotif</span>
              </div>
              <p>

                <small>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#css</a> <a href="#">#responsive</a>
                </small>
              </p>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">


            <div class="content">
              <h1 class="title">Berita baru</h1>

              <div class="block">
                <span class="tag">Politik</span>
                <span class="tag">otomotif</span>
              </div>
              <p>

                <small>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#css</a> <a href="#">#responsive</a>
                </small>
              </p>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
{% endblock %}

