<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - Student Wellness</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='favico.ico')}}" type="image/x-icon" />
  <link rel="icon" href="{{url_for('static', filename='favico.ico')}}" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
  {% block js %}
  {% endblock %}
</head>
<body class="has-navbar-fixed-top">

  {%include 'header.html'%}

  <header>
    {% block header %}{% endblock %}
  </header>
  <div class="columns is-variable is-0 is-gapless">
    <div class="menu-container px-1 has-background-white" id="sidbar">
      <div>
        <div class="menu-wrapper py-1">
          {%include "sidebar.html"%}
        </div>
      </div>
    </div>

    <div class="column is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile">
      <div class="p-1">
        <div class="column is-variable is-desktop">
          {% block content %}

          {% endblock %}
        </div>
      </div>
    </div>

    
  </div>




</body>
</html>
</html>