  <aside class="menu">
    {%if role == "pasien"%}
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a>Home</a></li>
      <li><a>Activity History</a></li>
    </ul>
    {%else%}
    <p class="menu-label">
      Order
    </p>
    <ul class="menu-list">
      <li>
        <a class="">To Do</a>
        <ul>
          <li><a>Konseling</a></li>
          <li><a>Konsultasi karir</a></li>
          <li><a>Articles</a></li>

        </ul>
      </li>
      
    </ul>
    {%endif%}
    <p class="menu-label">
      User 1
    </p>
    <ul class="menu-list">
      <li><a href="/signin">Logout</a></li>
    </ul>
  </aside>
